<h3> <%=@user.username%>'s Notes </h3>

<h4> Create New Note for <%=@user.username%> </h4>
<form action="/notes/<%=@user.id%>/new" method="GET">
	<button>Add Note</button>
</form>

<h4> Notes for <%=@user.username%> </h4>
<ul>

	<% if @user_notes and @user_notes.length > 0 %>
		<% for item in @user_notes %>
			<li>  <%= item %>  </li>
			<br />
			<a href= "/notes/<%=@user.id%>/<%=item.id%>"> VIEW/EDIT </a>
			<br />
			<br />
		<% end %>		
	<% end %>

</ul>